/* RESETS */

html{
	height: 100%;
  min-height: 100%;


}

body{

background: rgb(220,220,220);
-webkit-animation: colorchange 30s linear infinite;
-moz-animation: colorchange 30s linear infinite;
animation: colorchange 30s linear infinite;

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 36px;
}

/* TYPOGRAPHY */

@font-face {
  font-family: 'digi';
  src: url('digi.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'uni-thin';
  src: url('UniversLTStd-ThinUltraCn.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ocr-idk';
  src: url('ocr-idk.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'twntyfrstcntry';
  src: url('twntyfrstcntry.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neuton';
  src: url('Neuton-Extralight.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arnhem';
  src: url('ArnhemPro-Blond.otf');
  font-weight: normal;
  font-style: normal;
}

/*ANIMATIONS*/

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


@keyframes scrolling
{
  0%  {transform:translateX(100%);}
  100%{transform:translateX(-100%);}

}

@keyframes colorchange
    {
      0%   {background: #FFF2F2;}
      33%  {background: #F2FFF4;}
      66%  {background: #F2F2FF;}
      100% {background: #FFF2F2;}
    }

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #FFF2F2;}
      33%  {background: #F2FFF4;}
      66%  {background: #F2F2FF;}
      100% {background: #FFF2F2;}
    }

@keyframes rotation
    {
      0%    {transform:rotate(0deg);}
      25%  {transform:rotate(90deg);}
      50%  {transform:rotate(180deg);}
      75%  {transform:rotate(270deg);}
      100% {transform:rotate(360deg);}
    }

@-webkit-keyframes rotation /* Safari and Chrome - necessary duplicate */
    {
      0%   {transform:rotate(0deg);}
      25%  {transform:rotate(90deg);}
      50%  {transform:rotate(180deg);}
      75%  {transform:rotate(270deg);}
      100% {transform:rotate(360deg);}    
    }

/*BASE*/

body {
  font-size: 25px;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  background-blend-mode: multiply;
}

#contact a{
  font-family: "times new roman", serif;
  font-size:1em;
  line-height: 1em;
  padding-bottom:1.1em;
  color:#373737;
  letter-spacing: 2px;
  border: 2px solid #373737;
  border-radius: 6px;
  padding: 4px 7px;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 8px;
  text-decoration: none;
}

a:hover{
  border-bottom: 3px solid #373737;
}


a{
  display:inline;
  font-family: 'times new roman', serif;
  font-size:.7em;
  font-weight:normal;
  text-decoration: none;
  letter-spacing:2px;
  color:#373737;
  border-bottom: 3px solid transparent;
  transition: border-bottom ease-in-out .5s;

}

h2{
  display:inline-block;
  font-family: 'uni-thin', serif;
  font-size:2.5em;
  font-weight:normal;
  text-decoration: none;
  letter-spacing:2px;
  color:#373737;
}

p{
  font-family: "times new roman", serif;
  font-size:1em;
  line-height: 1.1em;
  padding-bottom:1.1em;
  color:#373737;
  letter-spacing: 2px;
}


ul{
  font-family: "Times New Roman", serif;
  font-size:1em;
  line-height: 1.1em;
  color:#373737;
  list-style-type: circle;
  letter-spacing: 2px;


}


#about{
  z-index:1;
  width:75vw;
  margin-top:100vh;
  padding:3vw;
  mix-blend-mode: multiply;

}

#clients, #services, #contact{
  z-index:1;
  width:75vw;
  padding:3vw;
  mix-blend-mode: multiply;

}

.wheel{
  position:fixed;
  top:0vh;
  padding-bottom:10vh;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items:flex-start;
  overflow: hidden;
}


img{
  z-index:-10;
  width:110vw;
  flex-shrink:0;
  animation: rotation linear 60s infinite;
}

.top{
    height:100%;
    position: absolute;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:space-between;
    z-index:1;
}

.top .item{
    opacity:0;
    -webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}
.top .item:hover{
    opacity:1;

}

.bottom{
    width:100%;
    height:100%;
    position: absolute;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:space-between;
    z-index:-1;
}



.item {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:70%;
    background: #C0C6C9;
    animation: colorchange 240s infinite;
    -webkit-animation: colorchange 240s infinite;
    padding:10px;    
}

.item p {
    font-size: 36px;
    font-family: 'uni-thin';

}

.dropdown{
  position: fixed;
  display: inline-block;
  text-align: right;
  right:2vw;
  height: 20vh;
  padding: 0;
  top:1vh;
  z-index:1;
  cursor:pointer;

}

.dropdown-content{
  opacity:0;
  position:fixed;
  text-align: right;
  right:2vw;
  height: 20vh;
  padding: 0;
  top:7vh;
  z-index:1;
  transition: visibility ease-in-out .5s;
}

.dropdown:hover .dropdown-content{
  opacity:1;
  transition:.8s;

}

.link{
  font-family: 'uni-thin';
  font-size: 56px;
  line-height:.8;
  color:black;
  padding: 4px 3px 3px 4px;
  margin:0px auto;
  display: inline-block;
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 3px;
  flex-basis: 60%;
}


@media screen and (max-width: 500px){




.wheel{
  position:static;
  z-index: 3;
  width:100%;
  top:1vh;

}

.first{
  width:100vw;
  margin-top:0;

}

#about, #clients, #services, #contact{
  width:100vw;
  margin-top:0;

}

img{
  width:140vw;
}

a {
  font-size: .8em;
}

p {
  font-size: 24px;
  line-height:32px;

}

ul{
  font-size: 24px;
  line-height:32px;
}

li{
  font-size: 24px;
}

}
